In [1]:
import pandas as pd

All tests were performed on Cloud7 @ 420 MHz

## Weak scaling

```python
ndpu = 2524
nfeatures = 16
```

In [6]:
df = pd.read_csv("weak_scaling.csv")
df.set_index(df.columns[0], inplace=True)
df.index.rename("# of points per DPU", inplace = True)
df

,DPU accuracy,CPU accuracy,Build time on DPU,Build time on CPU,Total time on DPU,Total time on CPU
# of points per DPU,,,,,,
100,0.791486,0.796644,1.484633,0.315973,3.817492,0.341401
300,0.787198,0.783469,1.606975,1.439782,3.977112,1.526295
1000,0.779131,0.785513,1.717301,6.006987,4.368524,6.338849
3000,0.774060,0.785403,1.973278,26.953712,5.718544,28.219126
10000,0.755640,0.781600,2.651749,83.310026,9.298141,87.303477
30000,0.771507,0.788651,4.238167,344.101506,24.776381,358.274337
100000,0.743415,0.784216,9.368356,1388.148770,83.270331,1440.091028
300000,0.766377,0.778323,25.549841,4113.248340,237.159447,4276.846957

## Strong scaling

```python
npoints_per_dpu = 100000
nfeatures = 16
```

In [15]:
df = pd.read_csv("strong_scaling.csv")
df.set_index(df.columns[0], inplace=True)
df.index.rename("# of DPUs", inplace = True)
df

,DPU accuracy,CPU accuracy,Build time on DPU,Build time on CPU,Total time on DPU,Total time on CPU
# of DPUs,,,,,,
10,0.784685,0.793027,8.331406,2.123142,9.497109,2.247365
30,0.770249,0.781854,8.370584,8.529515,11.258433,8.934223
100,0.763350,0.784064,8.428060,33.047634,14.261116,34.487501
300,0.769947,0.783271,8.428272,113.963729,18.101007,118.712602
1000,0.767364,0.789999,8.822729,437.248387,35.240995,453.881379
2524,0.755353,0.784216,9.591765,1168.908268,76.263814,1212.420133

## Higgs Boson

11 M points (500 k set apart for test)  
27 features

In [2]:
df = pd.read_csv("higgs_results.csv")
df.set_index(df.columns[0], inplace=True)
df.index.rename("# of DPUs", inplace = True)
df

,DPU accuracy,CPU accuracy,Build time on DPU,Build time on CPU,Total time on DPU,Total time on CPU
# of DPUs,,,,,,
100,0.635726,0.654442,14.677905,67.415419,25.403798,68.795795
300,0.653010,0.654442,5.892312,67.415419,9.739793,68.795795
1000,0.653494,0.654442,3.403232,67.415419,6.337554,68.795795
2524,0.668854,0.654442,3.230589,67.415419,7.133264,68.795795